@media (min-width: 600px) {
  .mobile-head {
    display: none;
  }
  .header-main-button3 {
    display: none;
  }
  .p-mobile {
    display: none;
  }
  .p2-mobile {
    display: none;
  }
  .div-mobile {
    display: none;
  }
  .video-first-main-mobile {
    display: none;
  }
  .block1-panel-mobile {
    display: none;
  }
  .block2-image2-mobile {
    display: none;
  }
  body {
    width: 1440px;
    height: 10150px;
    margin: 0 auto;
  }
  header {
    height: 838px;
    background: none;
  }
  .div-header {
    height: 740px;
    background-image: url(back1.png);
    background-position: bottom right;
    width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div-header-nav {
    background-color: #131313;
    width: 583px;
    height: 84px;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-navbox {
    color: #E3B873;
  }
  .div-header-number {
    width: 325px;
    height: 84px;
    background: #131313;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    color: #E3B873;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: underline;
  }
  .div-header-number button {
    background: #E3B873;
    text-decoration: none;
    width: 160px;
    height: 40px;
    color: white;
    font-family: FuturaDemiC;
    font-size: 13px;
    border-radius: 4px;
    outline: none;
    border-width: 0px;
  }
  .header-space {
    width: 75px;
    height: 84px;
    background: #131313;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-space2 {
    width: 99px;
    height: 84px;
    background: #131313;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-left-border {
    background-color: #131313;
    height: 84px;
    width: 83px;
  }
  .header-left-border2 {
    background-color: #131313;
    width: 83px;
    height: 656px;
  }
  .header-left-border2 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 200px 0 0 30px;
    font-family: FuturaDemiC;
    font-size: 15px;
    color: #E3B873;
  }
  .header-main {
    width: 530px;
    height: 656px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 60px;
  }
  .header-main p {
    line-height: 29px;
    font-family: 'FuturaBookC';
    font-size: 22px;
    margin-top: 17px;
  }
  .header-main span {
    font-family: 'Yeseva One';
    font-size: 40px;
    margin-top: 190px;
    line-height: 52px;
  }
  .header-main span span {
    color: #E3B873;
  }
  .header-main button {
    text-decoration: none;
    width: 207px;
    height: 51px;
    color: white;
    font-family: FuturaDemiC;
    font-size: 13px;
    border-radius: 4px;
    outline: none;
    border-width: 0px;
    margin-top: 10px;
    background: #E3B873;
  }
  .header-main-button2 {
    margin-left: 15px;
    border: 1px solid white !important;
    background: none !important;
  }
  .name-header {
    height: 84px;
    width: 275px;
    color: #E3B873;
    font-family: FuturaDemic;
    font-size: 14px;
    background: #131313;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .scroll-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Yeseva One';
    font-size: 14px;
    margin-left: 50px;
    padding-top: 40px;
    color: white;
  }
  .scrol-down-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 170px;
    margin-top: -20px;
  }
  .header-scroll-down2 {
    width: 1440px;
    height: 50px;
    background-color: #131313;
  }
  .header-scroll-down1 {
    width: 248px;
    height: 48px;
    background-color: #131313;
  }
  .first-main {
    height: 1026px;
    background-image: url(/imges/back2.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .div1-first-main {
    width: 550px;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div1-first-main p {
    margin: 22px 0 0 100px;
    font-family: 'FuturaBookC';
    font-size: 18px;
    line-height: 29px;
    color: white;
  }
  .div2-first-main {
    margin-top: 43px;
    margin-left: 100px;
    width: 375px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .div2-first-main div {
    margin-top: 5px;
    width: 48%;
    height: 105px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 23px;
    color: #E3B873;
  }
  .div2-first-main div span {
    font-family: 'FuturaBookC';
    font-size: 15px;
    line-height: 15px;
    color: white;
  }
  .first-main-slider {
    margin: 25px 0 0 100px;
  }
  .div1-first-main-head {
    font-family: 'Yeseva One';
    font-size: 27px;
    color: #E3B873;
    margin: 125px 0 0 100px;
    line-height: 37px;
    letter-spacing: -0.07em;
  }
  .div3-first-main {
    width: 890px;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div4-first-main {
    width: 700px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Yeseva One';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
  }
  .div4-first-main span:first-child {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    line-height: 30px;
  }
  .div5-first-main {
    width: 190px;
    height: 120px;
  }
  .div6-first-main {
    height: 530px;
    width: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .div6-first-main-image1 {
    margin: 20px 0 0 0px;
  }
  .div6-first-main-image2 {
    width: 145px;
    height: 483px;
    margin: 20px 0 0 6px;
    background-image: url(/imges/slider3.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div7-first-main {
    color: white;
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 55px 0 0 80px;
    width: 190px;
  }
  .div7-first-main p {
    margin-top: 10px;
    width: 100px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .div7-first-main p span {
    margin: -5px 10px 0 30px;
  }
  .div7-first-main p span:last-child {
    margin-left: 5px;
  }
  .div8-first-main {
    width: 100px;
  }
  .video-first-main {
    width: 817px;
    height: 434px;
    margin: 10px 0 0 -236px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-main {
    height: 2577px;
    background-repeat: no-repeat;
    background-position-y: -45px;
    background-image: url(/imges/backsecond2.png);
  }
  .block1-second-main {
    width: 1440px;
    height: 700px;
    font-family: 'FuturaBookC';
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block1-rect {
    margin-top: 220px;
  }
  .block1-text {
    width: 680px;
    height: 200px;
    margin-top: 20px;
  }
  .block1-panel {
    width: 900px;
    height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block1-panel-box {
    width: 33%;
    height: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 20px;
  }
  .block1-panel-box div {
    width: 180px;
    text-align: left;
    margin-left: 60px;
    font-family: 'FuturaBookC';
    font-size: 15px;
    color: rgba(54, 54, 54, 0.5);
  }
  .block1-panel-box div span {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  }
  .block1-panel-box button {
    background: #E3B873;
    text-decoration: none;
    width: 200px;
    height: 51px;
    color: white;
    font-family: 'FuturaDemiC';
    font-size: 15px;
    border-radius: 2px;
    outline: none;
    border-width: 0px;
    margin-left: 37px;
  }
  .check {
    width: 300px;
    height: 40px;
    margin: -15px 0 0 300px;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .block2-second-main {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block2-logo-text {
    margin-top: 65px;
    padding-bottom: 15px;
  }
  .block2-panel {
    width: 1236px;
    height: 608px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block2-panel-box {
    width: 390px;
    height: 610px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block2-panel-box button {
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    color: white;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    outline: none;
    border-width: 0px;
    margin: -25px 0 0 -102px;
  }
  .block-panel-box2 {
    width: 330px;
    height: 300px;
    background: white;
    margin-top: -125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .block-panel-box2 span {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 25px 0 0 30px;
  }
  .block-panel-box2 ul {
    margin-top: 5px;
  }
  .block-panel-box2 li {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
  }
  .block3-second-main {
    width: 1440px;
    height: 725px;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block3-panel {
    width: 800px;
    height: 725px;
    background-image: url(/imges/backforcircle.png);
    background-repeat: no-repeat;
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }
  .block3-panel div {
    width: 800px;
    height: 725px;
    background-image: url(/imges/backcircle.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block3-panel span:first-child {
    margin: 100px 0 0 415px;
  }
  .block3-panel span:nth-child(2) {
    margin: 80px 0 0 280px;
  }
  .block3-panel span:nth-child(3) {
    margin: 140px 0 0 340px;
  }
  .block3-panel span:last-child {
    margin: 130px 0 0 330px;
  }
  .block4-panel {
    width: 580px;
    height: 725px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .block4-panel-box {
    width: 506px;
    height: 509px;
    background-image: url(/imges/backform.png);
    margin-top: 80px;
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block4-panel-box span:first-child {
    width: 270px;
    height: 47px;
    text-align: center;
    margin-top: 25px;
  }
  .block4-panel-box button {
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 213px;
    height: 51px;
    color: white;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    outline: none;
    border-width: 0px;
    text-transform: uppercase;
    margin-left: 197px;
  }
  .block4-panel-box2 {
    width: 410px;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  .block4-panel-box3 {
    width: 340px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
    margin-top: 20px;
  }
  .block4-panel-box3 div {
    width: 180px;
    text-align: left;
    font-family: 'FuturaBookC';
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  .block4-panel-box3 div span {
    font-size: 18px;
    line-height: 24px;
    color: white;
  }
  .check2 {
    width: 300px;
    height: 40px;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: white;
  }
  .check2 span {
    margin-left: 5px;
  }
  .block4-panel-logo1 {
    width: 580px;
    height: 150px;
  }
  .block4-panel-logo2 {
    width: 350px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    color: #E3B873;
    margin: 30px 0 0 50px;
  }
  .block4-panel-logo2 span:first-child {
    margin-top: 30px;
  }
  .third-main {
    height: 864px;
    background-image: url(/imges/backThird.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block1-third-main {
    height: 864px;
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .block1-third-main span:first-child {
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 37px;
  }
  .block1-third-main ul {
    margin: 35px 0 0 60px;
  }
  .block1-third-main li {
    font-family: 'Proxima Nova';
    font-size: 20px;
    line-height: 34px;
    list-style-type: none;
    margin-top: 15px;
    color: white;
  }
  .block1-third-header {
    margin-top: 137px;
    color: #E3B873;
  }
  .block1-third-ul {
    height: 653px;
    width: 100%;
  }
  .block1-third-ul span {
    font-family: 'Proxima Nova' !important;
    font-size: 20px !important;
    color: #E3B873;
    padding-bottom: 2px;
    border-bottom: 1px solid #E3B873;
  }
  .block2-third-main {
    width: 800px;
    height: 864px;
    margin-left: 183px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block3-third-main {
    width: 400px;
    height: 864px;
    text-align: center;
  }
  .block3-third-main img:first-child {
    margin-top: -40px;
  }
  .block3-third-main img:last-child {
    margin-top: 40px;
  }
  .block4-third-main {
    width: 400px;
    height: 864px;
    text-align: center;
  }
  .block4-third-main img:first-child {
    margin-top: -113px;
  }
  .block4-third-main img:last-child {
    margin-top: 37px;
  }
  .fourth-main {
    height: 620px;
  }
  .block1-fourth {
    width: 100%;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block2-fourth {
    width: 700px;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'FuturaBookC';
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 120px;
  }
  .block2-fourth span:first-child {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    color: #181818;
  }
  .block2-fourth span:nth-child(2) {
    margin-top: 12px;
  }
  .block2-fourth span:nth-child(3) {
    margin-top: 12px;
  }
  .block3-fourth {
    width: 1240px;
    height: 735px;
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block3-fourth-imagebox {
    height: 735px;
    width: 392px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
  }
  .block3-fourth-imagebox span {
    margin-top: 200px;
  }
  .block3-fourth-box1 {
    height: 210px;
    width: 330px;
    background: white;
    margin: -125px 0 0 32px;
  }
  .block3-fourth-box1 button {
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    color: white;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    outline: none;
    border-width: 0px;
    margin-top: 30px;
  }
  .block3-fourth-box2 {
    height: 285px;
    width: 330px;
  }
  .block3-fourth-box3 {
    height: 410px;
    width: 330px;
  }
  .block3-fourth-box1-ul {
    font-family: 'Yeseva One';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block3-fourth-box1-ul span {
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    margin: 20px 0 5px 35px;
  }
  .block3-fourth-box1-ul ul {
    margin: 0 0 0 10px;
  }
  .block3-fourth-box1-ul li {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
  }
  .fifth-main {
    height: 1175px;
    background: lightskyblue;
  }
  .block1-fifth {
    width: 100%;
    height: 700px;
    background: pink;
    margin-top: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block2-fifth {
    height: 100%;
    width: 400px;
    background: lightblue;
    margin-left: 97px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Yeseva One';
  }
  .block2-fifth span:nth-child(1) {
    font-size: 28px;
    line-height: 37px;
    margin-top: 15px;
    color: #E3B873;
  }
  .block2-fifth span:nth-child(2) {
    margin: -30px 0 0 215px;
  }
  .block2-fifth span:nth-child(3) {
    margin-top: 95px;
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
  .block2-fifth span:nth-child(4) {
    margin-top: 20px;
    font-size: 15px;
    line-height: 23px;
    color: #E3B873;
  }
  .block2-fifth span:nth-child(5) {
    margin: 10px 0 85px 0;
    font-size: 15px;
    line-height: 25px;
    font-family: FuturaBookC;
    color: white;
  }
  .block4-fifth {
    height: 180px;
    width: 780px;
    background: orange;
    margin: 70px 0 0 75px;
    color: white;
  }
  .block4-fifth div:first-child {
    height: 110px;
  }
  .block4-fifth div:first-child div:first-child {
    opacity: 1;
  }
  .block4-fifth div {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block4-fifth div div {
    width: 16%;
    height: 100%;
    opacity: 0.3;
    background: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .block4-fifth div div span:nth-child(1) {
    border-bottom: 1px solid #E3B873;
    font-family: 'Yeseva One';
    font-size: 15px;
    line-height: 21px;
    height: 20px;
    width: 20px;
    background: greenyellow;
  }
  .block4-fifth div div span:nth-child(2) {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
  }
  .block4-fifth-box {
    height: 100%;
    width: 65%;
    background: blueviolet;
  }
  .block4-fifth-box img {
    margin: 45px 0 0 75px;
  }
  .block5-fifth {
    width: 100%;
    height: 250px;
    background: greenyellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .block5-fifth span:nth-child(1) {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }
  .block5-fifth img {
    margin-top: 10px;
  }
  .block5-fifth span:last-child {
    margin-top: 20px;
  }
  .block6-fifth {
    width: 72%;
    height: 225px;
    margin-left: 200px;
    background: #cd3232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block6-fifth div:nth-child(1) {
    background-image: url(/imges/person1.png);
  }
  .block6-fifth div:nth-child(2) {
    background-image: url(/imges/person2.png);
  }
  .block6-fifth div:nth-child(3) {
    background-image: url(/imges/person3.png);
  }
  .block6-fifth div {
    width: 272px;
    height: 357px;
    margin-top: 37px;
    background: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block6-fifth div div {
    width: 233px;
    height: 137px;
    background: white !important;
    margin-top: 278px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block6-fifth div div span:nth-child(1) {
    position: static;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
  .block6-fifth div div span:nth-child(2) {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    color: #959595;
  }
  .block6-fifth div div button {
    margin-top: 22px;
    width: 233px;
    height: 44px;
    font-family: 'Yeseva One';
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    background: #E3B873;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
  }
  .block6-fifth div span:nth-child(1) {
    left: -50px;
    top: -50px;
    position: absolute;
  }
  .sixth-main {
    height: 1523px;
    background: purple;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block1-sixth {
    height: 400px;
    width: 100%;
    background: greenyellow;
    margin-top: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: FuturaBookC;
    font-size: 20px;
    text-align: center;
  }
  .block1-sixth span:nth-child(2) {
    width: 558px;
    height: 136px;
    line-height: 34px;
    color: #363636;
  }
  .block1-sixth div {
    height: 150px;
    width: 100%;
    background: red;
    margin-top: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .block1-sixth div span:nth-child(1) {
    line-height: 28px;
    font-family: 'Yeseva One';
    color: #181818;
  }
  .block2-sixth {
    height: 455px;
    width: 1240px;
    margin-top: 42px;
    background: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block2-sixth div {
    width: 376px;
    height: 100%;
    background: greenyellow;
    position: relative;
  }
  .block2-sixth div span:nth-child(3) {
    background: #E3B873;
    position: absolute;
    width: 135px;
    height: 54px;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 400px;
    color: white;
  }
  .block2-sixth div span:nth-child(3) span {
    margin-left: 15px;
  }
  .block2-sixth div span:nth-child(3) img {
    margin-left: 15px;
  }
  .block2-sixth div span:nth-child(4) {
    background: #E3B873;
    position: absolute;
    width: 165px;
    height: 54px;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 137px;
    top: 400px;
    color: white;
  }
  .block2-sixth div span:nth-child(4) span {
    margin-left: 15px;
  }
  .block2-sixth div span:nth-child(4) img {
    margin-left: 15px;
  }
  .block2-sixth div div:nth-child(1) {
    width: 75%;
    height: 100px;
    background: orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 23px;
    color: #181818;
  }
  .block2-sixth div div:nth-child(1) img {
    margin-left: 20px;
  }
  .block2-sixth div div:nth-child(1) span:nth-child(2) {
    margin: 25px 0 0 22px;
  }
  .block2-sixth-box {
    height: 220px !important;
    width: 340px !important;
    background: lightcoral !important;
    margin: 15px 0 0 20px;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 27px;
  }
  .seventh-main {
    height: 954px;
    background: yellow;
  }
  footer {
    height: 133px;
    background: greenyellow;
  }
  .footer-first {
    height: 133px;
    background: lightpink;
  }
}

@media (max-width: 600px) {
  .name-header {
    display: none;
  }
  .header-navbox {
    display: none;
  }
  .div-header-nav {
    display: none;
  }
  .div-header-number {
    display: none;
  }
  .header-left-border2 {
    display: none;
  }
  .header-space {
    display: none;
  }
  .header-space2 {
    display: none;
  }
  .header-left-border {
    display: none;
  }
  .header-main-button2 {
    display: none;
  }
  .p-desktop {
    display: none;
  }
  .header-scroll-down1 {
    display: none;
  }
  .header-scroll-down2 {
    display: none;
  }
  .scroll-down {
    display: none;
  }
  .scrol-down-img {
    display: none;
  }
  .first-main-slider {
    display: none;
  }
  .div4-first-main {
    display: none;
  }
  .div5-first-main {
    display: none;
  }
  .div6-first-main {
    display: none;
  }
  .div8-first-main {
    display: none;
  }
  .p2-desktop {
    display: none;
  }
  .video-first-main {
    display: none;
  }
  .block1-panel {
    display: none;
  }
  .block2-image2-desktop {
    display: none;
  }
  body {
    width: 375px;
    height: 10150px;
    margin: 0 auto;
  }
  .mobile-head {
    height: 57px;
    width: 375px;
    background: #252525;
    font-family: FuturaDemiC;
    font-size: 12px;
    line-height: 14px;
    color: #E3B873;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-head span:last-child {
    color: white;
  }
  .div-header {
    height: 476px;
    background-image: url(/imges/back1mobile.png);
    background-position: cover;
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-main {
    width: 300px;
    height: 476px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 85px 0 0 18px;
  }
  .header-main p {
    line-height: 24px;
    font-family: 'FuturaBookC';
    font-size: 18px;
  }
  .header-main span {
    font-family: 'Yeseva One';
    font-size: 23px;
    line-height: 31px;
    margin-top: 20px;
  }
  .header-main span span {
    color: #E3B873;
  }
  .header-main button {
    text-decoration: none;
    width: 339px;
    height: 51px;
    color: white;
    font-family: 'FuturaDemiC';
    font-size: 13px;
    outline: none;
    border-width: 0px;
    margin-top: 10px;
    background: #E3B873;
  }
  .header-main-button3 {
    border: 1px solid white !important;
    background: none !important;
  }
  .div1-first-main {
    width: 375px;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div1-first-main p {
    width: 311px;
    height: 86px;
    font-family: 'FuturaBookC';
    font-size: 14px;
    line-height: 22px;
    color: white;
  }
  .first-main {
    background-color: #252525;
  }
  .div1-first-main-head {
    font-family: 'Yeseva One';
    font-size: 22px;
    color: #E3B873;
    line-height: 30px;
    letter-spacing: -0.07em;
    margin-top: 36px;
  }
  .div-mobile {
    width: 340px;
    height: 256px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 6px;
    background-image: url(/imges/div-mobile.png);
  }
  .div-mobile span {
    margin: 15px 100px 0 120px;
  }
  .div2-first-main {
    width: 341px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div2-first-main div {
    width: 50%;
    height: 70px;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    color: #E3B873;
    text-align: left;
    margin-top: 36px;
  }
  .div2-first-main div span {
    font-family: 'FuturaBookC';
    font-size: 15px;
    line-height: 15px;
    color: white;
  }
  .div7-first-main {
    font-family: 'Yeseva One';
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    width: 224px;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 27px 0 0 76px;
    color: white;
  }
  .div7-first-main p {
    margin-top: 15px;
    width: 100px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .div7-first-main p span {
    margin: -5px 10px 0 55px;
  }
  .div7-first-main p span:last-child {
    margin-left: 5px;
  }
  .video-first-main-mobile {
    width: 340px;
    height: 207px;
    background-image: url(/imges/videoMobile.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 28px 0 0 20px;
  }
  .second-main {
    height: 490px;
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #252525;
  }
  .block1-second-main {
    width: 340px;
    height: 520px;
    font-family: 'FuturaBookC';
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6px;
    color: white;
  }
  .block1-rect {
    margin: 10px 0 3px 0;
  }
  .block1-text {
    width: 340px;
    height: 120px;
  }
  .block1-panel-mobile {
    width: 340px;
    height: 311px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 55px;
  }
  .block1-panel-box {
    width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
  }
  .block1-panel-box div {
    width: 180px;
    text-align: left;
    font-family: 'FuturaBookC';
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  .block1-panel-box div span {
    font-size: 18px;
    line-height: 24px;
    color: white;
  }
  .block1-panel-box button {
    background: #E3B873;
    text-decoration: none;
    width: 340px;
    height: 51px;
    color: white;
    font-family: 'FuturaDemiC';
    font-size: 15px;
    outline: none;
    border-width: 0px;
  }
  .check {
    width: 300px;
    height: 40px;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .block2-second-main {
    font-family: Yeseva One;
    font-size: 22px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #181818;
  }
  .block2-logo-text {
    margin-top: 58px;
    padding-bottom: 15px;
  }
  .block2-panel {
    width: 340px;
    height: 1680px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block2-panel img {
    width: 340px;
  }
  .block2-panel-box {
    width: 340px;
    height: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block2-panel-box button {
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
            box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 190px;
    height: 40px;
    color: white;
    font-family: 'Yeseva One';
    font-size: 15px;
    line-height: 21px;
    outline: none;
    border-width: 0px;
    margin-top: -20px;
  }
  .block-panel-box2 {
    width: 270px;
    height: 241px;
    background: white;
    margin-top: -140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }
  .block-panel-box2 span {
    font-size: 15px;
    line-height: 21px;
    color: #363636;
    margin: 25px 0 0 30px;
  }
  .block-panel-box2 ul {
    margin-top: 5px;
  }
  .block-panel-box2 li {
    font-family: FuturaBookC;
    font-size: 13px;
    line-height: 22px;
    color: #959595;
  }
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("/futurademic.otf") format("truetype");
}

@font-face {
  font-family: "Yeseva One";
  src: url("/fonts/yesevaone.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("/fonts/futurabookc.otf") format("truetype");
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("/fonts/futuramediumc.otf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
}
/*# sourceMappingURL=style.css.map */